.imgTextWrap {
  display : flex;
  align-items : center;
  margin-bottom : .3rem;
}
.imgTextWrap .textWrap {
  width : calc(88% - .5rem -0.1px);
  min-width : calc(100% - .5rem - 40.1px);
}
.imgTextWrap .imgWrap {
  width: 12%;
  min-width: 40px;
  margin-right: .5rem;
}
.imgTextWrap:last-child {
  margin-bottom : 0;
}