@import "../../style/variables.scss";

.thumbnail {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
  .text-container {
    width: calc(88% - 0.5rem -0.1px);
    min-width: calc(100% - 0.5rem - 40.1px);
  }
  .img-container {
    width: 12%;
    min-width: 40px;
    margin-right: 0.5rem;
    img {
      border-radius: $contBox-border-radius;
      border: $contBox-border;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}
