@import "../../style/variables.scss";

.section:nth-of-type(1) .sectionContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.event {
  width: 49%;
  border: $contBox-border;
  border-radius: $contBox-border-radius;
  overflow: hidden;
  margin-bottom: 2%;
  cursor: pointer;
}
.event .imgTextWrap {
  flex-direction: column;
  background: $bgDeep;
}
.event .imgTextWrap .imgWrap {
  width: 100%;
  margin-right: 0;
}
.event .imgTextWrap .imgWrap * {
  border: 0;
  border-radius: 0;
}
.event .imgTextWrap .textWrap {
  padding: 0.3rem;
}
.event .imgTextWrap .textWrap * {
  text-align: center;
  font-size: 0.9rem;
}
.event .imgTextWrap .textWrap > div:last-child {
  font-size: 0.8rem;
}
