@import "../../style/variables.scss";

.column-list {
  display: flex;
  position: relative;
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  background: $bgLow;
  border-radius: $contBox-border-radius;
}
.column-list:last-child {
  margin-bottom: 0;
}
