.mainTabWrap, .subTabWrap {
  background : var(--bgDeep);
  display : flex;
  padding : .5rem;
  width : fit-content;
  border-radius : 5px 5px 0 0;
}
.mainTabWrap .tab {
  margin-right : 2rem;
}
.subTabWrap {
  border-radius : 0;
  width : 100%;
  display : none;
}
.tab {
  flex-grow : 1;
  color : #666;
  cursor : pointer;
}
.tab * {
  color : #666;
}

.display {
  display : flex;
}
.white, .white * {
  color : white;
}