@import "../../style/variables.scss";

.detail-quality {
  position: relative;
  width: 100%;
  height: 15px;
  line-height: 12px;
  margin-top: 0.5rem;
  border: $contBox-border;
  border-radius: $contBox-border-radius;
  font-size: 0.8rem;
  .quality-value {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
}
