@import "../../style/variables.scss";

.searchedUserExpedition {
  position: absolute;
  display: none;
  width: 85%;
  top: 0;
  right: 0;
  background: $bgDeep;
  padding: 1.5rem;
  max-height: 600px;
  border-radius: $contBox-border-radius;
  border: $contBox-border;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
  .searchedUserExpeditionClose {
    float: right;
    cursor: pointer;
  }
  .userExpedition {
    margin-bottom: 1rem;
  }
  .userExpeditionServer {
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .userExpeditionCharWrap {
    display: flex;
    flex-wrap: wrap;
  }
  .userExpeditionChar {
    width: 50%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: $contBox-border-radius;
    cursor: pointer;
  }
  .userExpeditionChar:hover {
    background: $bgLow;
  }
}
