.basicInfo {
  display : flex;
  width : 100%;
  margin-top : .5rem;
}
.basicInfo * {
  font-size : .9rem;
}
.basicInfo .textWrap {
  flex-direction : row;
  justify-content : left;
  align-items : center;
  width : calc((100% - .5rem) / 2 - .1px);
}
.basicInfo .textWrap > div:first-child {
  margin-right : .3rem;
  border-radius : var(--contBox-border-radius);
  border : var(--contBox-border);
  background : var(--bgLow);
  padding : .3rem .5rem;
  overflow : initial;
}

/* 클래스만 */
.basicInfo:first-child > div:last-child .imgWrap {
  border : var(--contBox-border);
  border-radius : 50%;
}
.basicInfo:first-child > div:last-child .imgWrap img {
  border : 0;
}
.basicInfo:first-child > div:first-child {
  width : fit-content;
}
.basicInfo:first-child > .imgTextWrap .textWrap div {
  border : 0;
  background : initial;
  padding : 0;
}

/* 컬렉션 */
.userInfoCollection {
  display : flex;
  margin-top : 15px;
}