@import "../../style/variables.scss";

.detail-top {
  display: flex;
  justify-content: space-between;
  .thumbnail {
    display: flex;
    width: 100%;
  }
  .img-container {
    width: 20%;
    min-width: 60px;
    margin-right: 0.5rem;
  }
  .text-container {
    width: calc(80% - 0.5rem - 0.1px);
    min-width: calc(100% - 0.5rem - 60.1px);
    > div {
      font-size: 0.7rem;
      &:last-child {
        font-size: 1.05rem;
      }
    }
  }
}
.detail-bottom {
  > div {
    margin-top: 0.7rem;
    * {
      font-size: 0.8rem;
    }
  }
  .desc {
    > div {
      font-size: 0.8rem;
      &:first-child {
        font-size: 0.95rem;
      }
    }
  }

  .text-container {
    * {
      overflow: initial;
      white-space: initial;
    }
  }
}
