.userInfoBox {
  width : 100%;
  display : flex;
  padding : .15rem;
  text-align : center;
}
.userInfoBox > div {
  width : fit-content;
  max-width : 45%;
  align-items : center;
  display : flex;
}
.userInfoBox > div:first-child {
  margin-right : 1rem;
}
.userInfoBox > div .userInfoTitle {
  margin-right : .3rem;
  border-radius : var(--contBox-border-radius);
  border : var(--contBox-border);
  background : var(--bgLow);
  padding : .3rem .5rem;
}
.userInfoBox .userInfoImg {
  width : 41px;
  margin-right : .3rem;
}