.collectionWrap .imgWrap {
  display : none;
}
.collectionWrap .textWrap {
  flex-direction : row;
  align-items : center;
  width : 100%;
  justify-content : left;
}
.collectionWrap .textWrap > div:first-child {
  margin-right : .5rem;
  font-size : .9rem;
}

.collectionWrap .columnright .textWrap > div:last-child {
  color : #ff5e00;
}
.collectionWrap .columnleft .textWrap > div:last-child {
  color : #cff0a7;
}