.collectionWrap .imgTextImg {
  display : none;
}
.collectionWrap .imgTextContent {
  flex-direction : row;
  align-items : center;
  width : 100%;
  justify-content : left;
}
.collectionWrap .imgTextContent > div:first-child {
  margin-right : .5rem;
  font-size : .9rem;
}

.collectionWrap .columnRight .imgTextContent > div:last-child {
  color : #ff5e00;
}
.collectionWrap .columnLeft .imgTextContent > div:last-child {
  color : #cff0a7;
}