.textWrap {
  display : flex;
  /* width : calc(88% - .5rem -0.1px);
  min-width : calc(100% - .5rem - 40.1px); */
  flex-direction : column;
  justify-content : center;
}
.textWrap * {
  color : rgba(222,222,222);
}