.hoverDetail {
  padding : .5rem;
  position : fixed;
  width : 20%;
  min-width : 300px;
  top : 50%;
  left : 50%;
  transform : translate(-50%, -50%);
  background : black;
  display : none;
  background : rgba(0,0,0,0.85);
  max-height : 400px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border : var(--contBox-border);
  border-radius : var(--contBox-border-radius);
}
.hoverDetail::-webkit-scrollbar {
  display: none;
}
.hoverDetailTop {
  display : flex;
  justify-content : space-between;
}
.hoverDetailTop .imgTextWrap {
  display : flex;
  width : 100%;
}
.hoverDetailTop .imgWrap {
  width : 20%;
  min-width : 60px;
  margin-right : .5rem;
}
.hoverDetailTop .textWrap {
  width : calc(80% - .5rem - .1px);
  min-width : calc(100% - .5rem - 60.1px);
}
.hoverDetailTop .textWrap > div {
  font-size : .7rem;
}
.hoverDetailTop .textWrap > div:last-child {
  font-size : 1.05rem;
}

.hoverDetailBottom > div {
  margin-top : .7rem;
}
.hoverDetailBottom > div * {
  font-size : .9rem;
}


/* 템플릿 */
.itemPartBoxes > div, .indentStrings > div {
  margin-top : .5rem;
}