.calendar0 {
  margin-bottom : 10px;
}
.calendarTitle {
  background : var(--bgDeep);
  margin-bottom : 5px;
  padding : .3rem;
  border-radius : var(--contBox-border-radius);
}
.calendar .timerWrap {
  display : flex;
  justify-content : space-between;
}
.calendar .timer {
  flex-grow : 1;
}
.calendar0 .timer:last-child, .calendar1 .timer:last-child {
  margin-right : 0;
}