@import "../../style/variables.scss";

/* section 공통 */
.section {
  margin-bottom: 20px;
}
.section > div:last-child {
  position: relative;
}
.section > div:last-child .lds-spinner {
  position: initial;
  transform: initial;
  margin: 0 auto;
}
.sectionTitle {
  margin-bottom: 10px;
  background: $bgDeep;
  padding: 0.3rem;
  border-radius: 3px 3px 0 0;
}
