@import "../../style/variables.scss";

%border-bottom {
  border: 0;
  border-bottom: $contBox-border;
}

/* header */
.header {
  width: 100%;
  margin-bottom: 1.5rem;
  .inner-header {
    max-width: 600px;
    margin: 0 auto;
    padding: 0.5rem;
  }
  .logo {
    background : {
      position: 403px 3.5px;
    }
    width: 160px;
    margin: 0 auto 10px;
    height: 50px;
    cursor: pointer;
  }
  .search-form {
    display: flex;
    margin: 0 auto;
    width: 60%;
    height: fit-content;
    input {
      background: none;
      padding: 0.3rem;
      color: $white;
      &[type="text"] {
        width: 80%;
        padding: 0.3rem;
        @extend %border-bottom;
        &:focus {
          outline: none;
          background: none;
          @extend %border-bottom;
        }
      }
      &[type="submit"] {
        width: 20%;
        border: $contBox-border;
        font-weight: bold;
        border-radius: 3px 3px 3px 0;
        cursor: pointer;
      }
    }
  }
}
