.collectionWrap .columnList {
  min-height: initial;
}
.collectionWrap .columnList .imgWrap {
  display: none;
}
.collectionWrap .columnList .imgWrap {
  min-width: 0;
}
.collectionWrap .columnList .textWrap {
  flex-direction: row;
  justify-content: left;
  width: 100%;
}
.collectionWrap .columnList .textWrap * {
  font-size: 0.9rem;
}
.collectionWrap .columnList .textWrap > div:first-child {
  overflow: initial;
}
.collectionWrap .columnleft .textWrap > div:first-child {
  color: #b3e27a;
  margin-right: 0.5rem;
}
.collectionWrap .columnright .textWrap > div:first-child {
  color: #e76f6b;
  margin-right: 0.5rem;
}
