.innerApp {
  padding : .5rem;
}
.loadingBg {
  width : 100%;
  position : absolute;
  top : 0;
  min-height : 100vh;
  background : rgba(0,0,0,.7);
}
.AppWrap {
  max-width : 600px;
  min-width : 310px;
  margin : 0 auto;
  background : var(--bgLow);
  border-radius : var(--contBox-border-radius);
  padding : .5rem;
}


/* home section 공통 */
.homeSection {
  margin-bottom : 20px;
}
.homeSectionTitle {
  margin-bottom : 10px;
  background : var(--bgDeep);
  padding : .3rem;
  border-radius : 3px 3px 0 0;
}