@import "./variables.scss";

.inner-app {
  padding: 0.5rem;
}
.loading-bg {
  width: 100%;
  position: absolute;
  top: 0;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}
.app {
  position: relative;
}
.app-wrap {
  max-width: 600px;
  min-width: 310px;
  margin: 0 auto;
  background: $bgLow;
  border-radius: $contBox-border-radius;
}
