@import "./variables.scss";

.inner-app {
  padding: 0.5rem;
}

.app {
  position: relative;
}
.app-wrap {
  max-width: 600px;
  min-width: 310px;
  margin: 0 auto;
  background: $bgLow;
  border-radius: $contBox-border-radius;
}
