@import "./variables.scss";

@font-face {
  font-family: "Bmjua";
  src: url("./fonts/BMJUA_ttf.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Bmjua", sans-serif;
}

body {
  background: $bgDeep;
  -ms-overflow-style: none;
  color: $white;
  .displayNone {
    display: none;
  }
  .displayBlock {
    display: block;
  }
  .displayFlex {
    display: flex;
  }
  .pointer {
    cursor: pointer;
  }
  .absolute {
    position: absolute;
  }
  .imgWidth {
    display: block;
    width: 100%;
  }
  .text-center {
    text-align: center;
  }
  .height100vh {
    height: 100vh;
    overflow: hidden;
  }
  .zIndex10 {
    z-index: 10;
  }
  .zIndex11 {
    z-index: 11;
  }
  .zIndex99 {
    z-index: 99;
  }
  .gradient-1 {
    background: linear-gradient(135deg, #232323, #7a0000);
  }
  .gradient0 {
    background: linear-gradient(135deg, #232323, #575757);
  }
  .gradient1 {
    background: linear-gradient(135deg, #18220b, #304911);
  }
  .gradient2 {
    background: linear-gradient(135deg, #111f2c, #113d5d);
  }
  .gradient3 {
    background: linear-gradient(135deg, #261331, #480d5d);
  }
  .gradient4 {
    background: linear-gradient(135deg, #362003, #9e5f04);
  }
  .gradient5 {
    background: linear-gradient(135deg, #341a09, #a24006);
  }
  .color0,
  .color0 * {
    color: #a19f9f !important;
  }
  .color0bold,
  .color0bold * {
    color: #a19f9f !important;
    font-weight: bold;
  }
  .color1,
  .color1 * {
    color: #4e8d01 !important;
  }
  .color1bold,
  .color1bold * {
    color: #4e8d01 !important;
    font-weight: bold;
  }
  .color2,
  .color2 * {
    color: #0063aa !important;
  }
  .color2bold,
  .color2bold * {
    color: #0063aa !important;
    font-weight: bold;
  }
  .color3,
  .color3 * {
    color: #700099 !important;
  }
  .color3bold,
  .color3bold * {
    color: #700099 !important;
    font-weight: bold;
  }
  .color4,
  .color4 * {
    color: #ff9500 !important;
  }
  .color4bold,
  .color4bold * {
    color: #ff9500 !important;
    font-weight: bold;
  }
  .color5,
  .color5 * {
    color: #ff5e00 !important;
  }
  .color5bold,
  .color5bold * {
    color: #ff5e00 !important;
    font-weight: bold;
  }
  .overflowDot {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .contentBoxBorder {
    border: $contBox-border;
    border-radius: $contBox-border-radius;
  }
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

@media all and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 10px;
  }
}
