@import "./variables.scss";

.home {
  padding: 0.5rem;
  .event-container {
    .section-content {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .calendar-container {
    .calendar-title {
      background: $bgDeep;
      font-size: 0.9rem;
      margin-bottom: 5px;
      padding: 0.3rem;
      border-radius: $contBox-border-radius;
    }
    .timer-wrap {
      display: flex;
      justify-content: space-between;
      .timer {
        flex-grow: 1;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .section:first-child {
      margin-bottom: 20px;
    }
  }
}
