@import "./variables.scss";

.userInfo {
  border-radius: $contBox-border-radius;
  padding: 0.5rem;
}
/* userInfoTop */
.userInfoTop {
  position: relative;
  width: 100%;
  background: $bgDeep;
  border-radius: $contBox-border-radius;
  padding: 1rem 0.5rem 1rem;
  .showExpeditionWrap {
    float: right;
    background: $bgLow;
    padding: 0.3rem;
    border-radius: $contBox-border-radius;
    cursor: pointer;
    border: $contBox-border;
  }
}

/* userInfoBottom */
.userInfoBottom {
  margin-top: 1rem;
  .tabContentWrap {
    background: $bgDeep;
    padding: 0.5rem;
    border-radius: 0 0 5px 5px;
  }
  .nav-content-container {
    .columnList {
      > .thumbnail {
        .text-container {
          div {
            font-size: 0.7rem;
            &:last-child {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}

// ability-container
.ability-container {
  .columnList {
    > .imgTextWrap {
      .textWrap {
        * {
          line-height: 14px;
        }
      }
    }
  }
}

// skill-container
.skill-container {
  .hoverDetailBottom {
    .tripodSkillCustoms {
      .text-container {
        > div {
          &:last-child {
            overflow: initial;
            text-overflow: initial;
            white-space: initial;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

// collection-container
.collection-container {
  .columnList {
    min-height: initial;
    .img-container {
      display: none;
      min-width: 0;
    }
    .text-container {
      flex-direction: row;
      justify-content: left;
      width: 100%;
      * {
        font-size: 0.9rem;
      }
      > div {
        &:first-child {
          overflow: initial;
          margin-right: 0.5rem;
        }
      }
    }
  }
  .list-left {
    .text-container {
      > div {
        &:first-child {
          color: #b3e27a;
        }
      }
    }
  }
  .list-right {
    .text-container {
      > div {
        &:first-child {
          color: #e76f6b;
        }
      }
    }
  }
}
