@import "./variables.scss";

.userInfo {
  border-radius: $contBox-border-radius;
  padding: 0.5rem;
}
/* userInfoTop */
.userInfoTop {
  position: relative;
  width: 100%;
  background: $bgDeep;
  border-radius: $contBox-border-radius;
  padding: 1rem 0.5rem 1rem;
}

/* userInfoBottom */
.userInfoBottom {
  margin-top: 1rem;
}
.tabContentWrap {
  background: $bgDeep;
  padding: 0.5rem;
  border-radius: 0 0 5px 5px;
}

.nav-content-container .columnList > .imgTextWrap .textWrap > div {
  font-size: 0.7rem;
}
.nav-content-container .columnList > .imgTextWrap .textWrap > div:last-child {
  font-size: 0.9rem;
}

/* equipImage */
.equipMainImg {
  top: 0;
  transform: scale(0.9);
}
