/* header */
.header {
  width : 100%;
  margin-bottom : 1.5rem;
}
.innerHeader {
  display : flex;
  max-width : 600px;
  min-width : 360px;
  margin : 0 auto;
  padding : 1rem;
  justify-content : space-between;
  align-items : center;
}
.searchForm {
  height : fit-content;
  border-bottom : 1px solid white;
}
input[type=text] {
  background : none;
  border : 0;
  color : white;
  padding : .3rem;
}
input:focus {
  outline : none;
  background : none;
  border : 0;
}
input[type=submit] {
  background : none;
  border : 0;
  color : white;
  padding : .3rem;
  cursor : pointer;
}