.userInfo {
  padding : 1rem;
  border-radius : 5px;
}
.userInfoTopCetnerWrap {
  background: url('//cdn-lostark.game.onstove.com/2018/obt/assets/images/pc/bg/bg_profile_equipment.png?532ac3d83cbb2a28de08e2567cb4859b');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding : 1rem;
  border-radius : 5px;
}
/* userInfoTop */
.userInfoTop {
  display : flex;
  flex-direction : column;
  width : 30%;
  min-width : 300px;
}
.userInfoTop * { 
  color : rgba(222,222,222); 
  font-size : .9rem;
}
.infoTopCont {
  padding : .3rem;
  background : #222;
  margin-bottom : .5rem;
  width : fit-content;
  border-radius : 5px;
}
.classNameWrap {
  display : flex;
  align-items : center;
}
.classLogo {
  width : 30%;
  margin-right : .5rem;
}
.classLogo img {
  display : block;
  width : 100%;
}

/* userInfoCenter */
.userInfoCenter {
  display : flex;
  align-items : center;
}
.userClassImg {
  width : 70%;
  height : fit-content;
  margin : 0 auto;
}
.userClassImg img {
  display : block;
  width : 100%;
}
.equipImgWrap {
  width : 12%;
}
.equipImgWrap .EquipImg {
  width : 100%;
  position : relative;
  margin-bottom : .5rem;
}

/* userInfoBottom */
.userInfoBottom {
  margin-top : 2rem;
}
.equipList {
  position : relative;
  display : flex;
  align-items : center;
  margin-bottom : .5rem;
  padding : .5rem;
  background : #222;
  border-radius : 3px;
}
.equipList:last-child {
  margin-bottom : 0;
}
.equipListImg {
  position : relative;
  width : 15%;
  height : fit-content;
  margin-right : .5rem;
}
.equipListContent {
  display : flex;
  flex-direction : column;
  justify-content : center;
}
.equipListContent * {
  color : rgba(222,222,222);
  font-size : .9rem;
}

/* 아이템 상세보기 */
.equipListDetail {
  width : 70%;
  position : absolute;
  bottom : 20%;
  left : 5%;
  background : black;
}
.equipListDetail * {
  color : white;
  font-size : .9rem;
}
.equipListDetailImg {
  position : relative;
  width : 30%;
  margin : 0 auto;
}