.userInfo {
  border-radius : var(--contBox-border-radius);
}
/* userInfoTop */
.userInfoTop {
  position : relative;
  width : 100%;
  background : var(--bgDeep);
  border-radius : var(--contBox-border-radius);
  padding : 1rem .5rem 1rem;
}

/* userInfoBottom */
.userInfoBottom {
  margin-top : 1rem;
}
.tabContentWrap {
  background : var(--bgDeep);
  padding : .5rem;
  border-radius : 0 0 5px 5px;
}

/* 어빌리티 */
.tabContent1 .columnList > div:nth-child(2) .textWrap > div {font-size : .7rem;}
.tabContent1 .columnList > div:nth-child(2) .textWrap > div:last-child {font-size : .9rem;}
.tabContent1 .columnList > div:nth-child(2) .textWrap > div {font-size : .7rem;}
.tabContent1 .columnList > div:nth-child(2) .textWrap > div:last-child {font-size : .9rem;}
.skillWrap .hoverDetailBottom .tripodSkillCustoms .textWrap > div:last-child {
  overflow : initial;
  text-overflow : initial;
  white-space : initial;
  font-size : .8rem;
}