.userInfo {
  padding : 1rem;
  border-radius : 5px;
}
.userInfoTopCetnerWrap {
  background: url('//cdn-lostark.game.onstove.com/2018/obt/assets/images/pc/bg/bg_profile_equipment.png?532ac3d83cbb2a28de08e2567cb4859b');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding : 1rem;
  border-radius : 5px;
}
/* userInfoTop */
.userInfoTop {
  position : relative;
  width : 100%;
}
.showExpeditionWrap {
  float : right;
  background : #222;
  padding : .3rem;
  border-radius : 5px;
  cursor : pointer;
}
.userInfoBox {
  background : #222;
  padding : .5rem;
  border-radius : 5px;
}
.userClass {
  width : fit-content;
  display : flex;
  align-items : center;
  margin-bottom : .3rem;
}
.userNameNLvNServer, .userItemLv, .userExtraInfo {
  display : flex;
  width : 100%;
  align-items : center;
  margin-bottom : .3rem;
}
.userClassEmb {
  width : 40%;
  margin-right : .5rem;
}
.userLvNname {
  margin-right : 1rem;
  max-width : 60%;
}
.curUserItemLv {
  margin-right : 1.5rem;
}
.userExtraInfo > div {
  margin-right : .7rem;
}
.userInfoBox {
  text-align : center;
}
.userInfoTitle {
  margin-bottom : .3rem;
}

.searchedUserExpedition {
  position : absolute;
  display : none;
  width : 85%;
  top : 0;
  right : 0;
  background : #222;
  padding : 1.5rem;
  max-height : 600px;
  border-radius : 5px;
  overflow-y : scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.searchedUserExpedition::-webkit-scrollbar {
  display: none;
}
.searchedUserExpeditionClose {
  float : right;
  cursor : pointer;
}
.userExpedition {
  margin-bottom : 1rem;
}
.userExpeditionServer {
  font-weight : bold;
  margin-bottom : 1rem;
}
.userExpeditionCharWrap {
  display : flex;
  flex-wrap : wrap;
}
.userExpeditionChar {
  width : 50%;
  margin-bottom : .5rem;
  padding : .5rem;
  border-radius : 5px;
  cursor : pointer;
}
.userExpeditionChar:hover {
  background : #333;
}

/* userInfoCenter */
.userInfoCenter {
  display : flex;
  align-items : center;
  margin-top : 2rem;
}
.userClassImg {
  width : 70%;
  height : fit-content;
  margin : 0 auto;
}
.userClassImg img {
  display : block;
  width : 100%;
}
.equipImgWrap {
  width : 12%;
}
.equipImgWrap .EquipImg {
  width : 100%;
  position : relative;
  margin-bottom : .5rem;
}

/* userInfoBottom */
.userInfoBottom {
  margin-top : 2rem;
}
.equipList {
  position : relative;
  display : flex;
  align-items : center;
  margin-bottom : .5rem;
  padding : .5rem;
  background : #222;
  border-radius : 3px;
}
.equipList:last-child {
  margin-bottom : 0;
}
.equipListImg {
  position : relative;
  width : 15%;
  height : fit-content;
  margin-right : .5rem;
}
.equipListContent {
  display : flex;
  flex-direction : column;
  justify-content : center;
}
.equipListContent * {
  color : rgba(222,222,222);
}

/* 아이템 상세보기 */
.equipListDetail {
  width : 70%;
  padding : .5rem;
  position : absolute;
  bottom : 20%;
  left : 5%;
  background : black;
  display : none;
  background : rgba(0,0,0,0.85);
  max-height : 600px;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.equipListDetail::-webkit-scrollbar {
  display: none;
}
.equipListDetail * {
  color : white;
}
.equipListDetailImg {
  position : relative;
  width : 30%;
}
.equipLilstDetailTop {
  display : flex;
  justify-content : space-between;
}
.equipListMainInfo {
  width : 60%;
  overflow : hidden;
  display : flex;
  flex-direction : column;
  justify-content : space-between;
}
.equipListDetailQuality {
  height : 10%;
}
.equipListDetailQuality .qualityValue {
  height : 100%;
}
.itemPartBoxWrap, .singleTextWrap, .intentStringWrap {
  margin : .5rem 0;
}
.itemPartBox, .singleText, .intentString {
  margin-top : .5rem;
}
.itemPartBoxTitle {
  font-weight : bold;
  margin-bottom : .15rem;
}
.equipList:hover .equipListDetail {
  display : block;
}
.tripodSkillCustom {
  display : flex;
  justify-content : space-between;
  margin-top : .5rem;
}
.GemImg {
  width : 20%;
}
.GemInfo {
  display : flex;
  width : 75%;
  flex-direction : column;
  justify-content : center;
}
.GemStat, .GemName {
  width : 100%;
}