@import "../../style/variables.scss";

.basic-info {
  display: flex;
  width: 100%;
  margin-top: 0.5rem;
  * {
    font-size: 0.9rem;
  }
  .text-container {
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: calc((100% - 0.5rem) / 2 - 0.1px);
    > div {
      &:first-child {
        margin-right: 0.3rem;
        border-radius: $contBox-border-radius;
        border: $contBox-border;
        background: $bgLow;
        padding: 0.3rem 0.5rem;
        overflow: initial;
      }
    }
  }
  &:first-child {
    > div {
      &:first-child {
        width: fit-content;
      }
      &:last-child {
        .img-container {
          border: $contBox-border;
          border-radius: 50%;
          img {
            border: 0;
          }
        }
      }
    }
    > .thumbnail {
      .text-container {
        div {
          border: 0;
          background: initial;
          padding: 0;
        }
      }
    }
  }
}

/* 컬렉션 */
.user-info-collection {
  display: flex;
  margin-top: 15px;
}
