@import "../../style/variables.scss";

.dialog-back {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
  left: 0;
  top: 0;
}
.dialog-content {
  padding: 0.5rem;
  position: fixed;
  width: 30%;
  min-width: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.85);
  max-height: 400px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border: $contBox-border;
  border-radius: $contBox-border-radius;
  z-index: 3;
}
.dialog-content::-webkit-scrollbar {
  display: none;
}
