.searchedUserExpedition {
  position : absolute;
  display : none;
  width : 85%;
  top : 0;
  right : 0;
  background : var(--bgDeep);
  padding : 1.5rem;
  max-height : 600px;
  border-radius : var(--contBox-border-radius);
  border : var(--contBox-border);
  overflow-y : scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.searchedUserExpedition::-webkit-scrollbar {
  display: none;
}
.searchedUserExpeditionClose {
  float : right;
  cursor : pointer;
}