@import "../../style/variables.scss";

.calendar0 {
  margin-bottom: 10px;
}
.calendarTitle {
  background: $bgDeep;
  font-size: 0.9rem;
  margin-bottom: 5px;
  padding: 0.3rem;
  border-radius: $contBox-border-radius;
}
.calendar .timerWrap {
  display: flex;
  justify-content: space-between;
}
.calendar .timer {
  flex-grow: 1;
}
.calendar0 .timer:last-child,
.calendar1 .timer:last-child {
  margin-right: 0;
}
