@import "../../style/variables.scss";

.showExpeditionWrap {
  float: right;
  background: $bgLow;
  padding: 0.3rem;
  border-radius: $contBox-border-radius;
  cursor: pointer;
  border: $contBox-border;
}
