* {margin : 0; padding : 0; box-sizing : border-box;}

body {
  background : #222;
}

.displayNone {
  display : none;
}
.absolute {
  position : absolute;
}

.gradient0 {
  background : linear-gradient(135deg, #232323, #575757);
}
.gradient1 {
  background : linear-gradient(135deg, #18220b, #304911);
}
.gradient2 {
  background : linear-gradient(135deg, #111f2c, #113d5d);
}
.gradient3 {
  background : linear-gradient(135deg, #261331, #480d5d);
}
.gradient4 {
  background : linear-gradient(135deg, #362003, #9e5f04);
}
.gradient5 {
  background : linear-gradient(135deg, #341a09, #a24006);
}