@import "../../style/variables.scss";

.nav-container {
  background: $bgDeep;
  padding: 0.5rem;
  display: flex;
  width: fit-content;
  border-radius: 5px 5px 0 0;
}
.nav {
  width: fit-content;
  margin-right: 1rem;
  color: #666;
  cursor: pointer;
}
.nav * {
  color: #666;
}
.main-nav-container .nav {
  margin-right: 2rem;
}
.sub-nav-container {
  border-radius: 0;
  width: 100%;
  border-radius: 0 5px 0 0;
}
.sub-nav-container:nth-of-type(4) .nav {
  flex-grow: 1;
  margin-right: 0;
}

.white,
.white * {
  color: white;
}
