.event {
  width: 49%;
  border: var(--contBox-border);
  border-radius: var(--contBox-border-radius);
  overflow: hidden;
  margin-bottom: 2%;
  cursor: pointer;
}
.event .imgTextWrap {
  flex-direction: column;
  background: var(--bgDeep);
}
.event .imgTextWrap .imgWrap {
  width: 100%;
  margin-right: 0;
}
.event .imgTextWrap .imgWrap * {
  border: 0;
  border-radius: 0;
}
.event .imgTextWrap .textWrap {
  padding: 0.3rem;
}
.event .imgTextWrap .textWrap * {
  text-align: center;
  font-size: 0.9rem;
}
.event .imgTextWrap .textWrap > div:last-child {
  font-size: 0.8rem;
}
